/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Estilos del encabezado */
.header {
    background: rgb(153, 198, 213);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    padding-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav button {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

nav button:hover {
    background: #555;
}

/* Estilos del contenido principal */
.main {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del pie de página*/
.main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    .wrapper {
        width: 95%;
    }

    nav button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
    }

    nav button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}



/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos del pie de página */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}